
.animation-element {
  opacity: 0;
  position: relative;

  @include media-breakpoint-down(xs){
    opacity: 1;
  }

  &.slide-left {
    opacity: 0;
    transition: all 500ms linear;
    transform: translate3d(-100px, 0px, 0px);

    @include media-breakpoint-down(xs){
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }

  &.slide-top {
    opacity: 0;
    transition: all 700ms linear;
    transform: translate3d(0px, -100px, 0px);

    @include media-breakpoint-down(xs){
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }

  &.slide-right {
    opacity: 0;
    transition: all 400ms linear;
    transform: translate3d(100px, 0px, 0px);

    @include media-breakpoint-down(xs){
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }

  &.slide-bottom {
    opacity: 0;
    transition: all 800ms linear;
    transform: translate3d(0px, 100px, 0px);

    @include media-breakpoint-down(xs){
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }

  &.zoom-in {
    transition: all 60s linear;
    transform: scale(1.5) !important;

    @include media-breakpoint-down(xs){
      opacity: 1;
      transform: none !important;
    }
  }

  &.in-view {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

// footer {
//   &.slide-right {
//     &.in-view {
//       transition: all 250ms linear;
//     }
//   }
// }