// Critical Styles
@import '../fonts/stylesheet.css';

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  background: url(../images/background-vcone-default.jpg) center no-repeat fixed;
  background-size: cover;
  color: #FFF;
  
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; 
	text-rendering: optimizeLegibility;
  -webkit-text-rendering: optimizeLegibility;

  margin: 0;
  font-family: "Gotham Medium",sans-serif;;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;

	&::-webkit-scrollbar {
		display: none;
	}
}

main {
  background-color: rgba(0,0,0,0.7);
  padding: 0 1.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

h1 {
  letter-spacing: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.75;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
  position: relative;
  font-family: "Gotham Medium",sans-serif;
  margin-top: 0;
}

img,
source {
  vertical-align: middle;
  border-style: none;
}

picture {
  max-width: 100%;
  height: auto;
  margin-bottom: 3rem;
  margin-top: 3rem;

  img,
  source {
    max-width: 100%;
    height: auto;
  }
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 576px) {
    flex-direction: row !important;
  }

  li {
    margin-right: .5rem;
    margin-left: .5rem;
    margin-bottom: 1rem;

    &:first-child {
      display: flex;
    }

    &.mb-sm-0{
      @media screen and (min-width: 576px) {
        margin-bottom: 0 !important;
      }
    }

    &.order-0 {
      order: 0;
    }

    &.order-sm-0 {
      @media screen and (min-width: 576px) {
        order: 0 !important;
      }
    }

    &.order-1 {
      order: 1;
    }

    &.order-2 {
      order: 2;
    }

    &.order-sm-2 {
      @media screen and (min-width: 576px) {
        order: 2 !important;
      }
    }

    a {
      color: #c4a273;
      text-decoration: none;
      background-color: transparent;
      transition: all .3s ease-in-out;
      display: flex;
      align-items: center;

      img {
        margin-left: .25rem;
        margin-right: .25rem;
      }
    }
  }
}
