// Fonts
@import '../fonts/stylesheet.css';

// Typography
$font-family-couture: 'Couture', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;

$font-family-book: 'Gotham Book', sans-serif;
$font-family-medium: 'Gotham Medium', sans-serif;
$font-family-bold: 'Gotham Bold', sans-serif;

$font-family-base: $font-family-medium;
$headings-font-family: $font-family-medium;


// Colors
$vinho: #44333D;
$dourado: #CBA76F;
$cinza: #4E4E4E;
$amarelo: #FFD247;

$warning: $dourado;

// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

// Template
html {
  scroll-behavior: smooth;
}

body {
  color: $vinho;

  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; 
	text-rendering: optimizeLegibility !important;
  -webkit-text-rendering: optimizeLegibility !important;

  // overflow: hidden;

  &::-webkit-scrollbar {
		display: none;
	}

  #pointer {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 20rem;
    border: 1px solid rgba($color: $dourado, $alpha: 0.75);
    background: rgba($color: $dourado, $alpha: 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 120ms linear 0;
    transform: translate3d(5%, -100%, 0);
    opacity: 0.75;
    z-index: 1050;

    &:after {
      content: '';
      width: 0.125rem;
      height: 0.125rem;
      background: $vinho;
      display: block;
      border-radius: 10rem;
    }

    @include media-breakpoint-down(xs) {
      display: none !important;
    }
  }
}

a {
  transition: all .3s ease-in-out;
}

.vs-section {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: auto;
  will-change: transform;
}

section {
  background-size: cover !important;
  color: $vinho;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  min-height: calc(100vh - 10rem);
  position: relative;
  transition: all .5s ease-in-out;

  &.animation-element {
    opacity: 1 !important;
  }

  &.company {
    ul {
      color: $white;
      font-family: $font-family-medium;
      font-size: .875rem;
      line-height: 2;
      list-style-image: url(../images/icons/list-style-image.png);
      margin-bottom: 0;
      padding-left: 1rem;
    }
  }

  &#sobre,
  &#diferencial,
  &#historia {
    @include media-breakpoint-down(xs) {
      min-height: unset;
      height: calc(100vh - 4.5rem);
      
      article {
        min-height: unset;
      }
    }
  }

  article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100vh;
    
    @include media-breakpoint-up(sm) {
      min-height: unset;
      padding-left: 0;
      padding-top: unset;
    }

    img {
      &.seta {
        @include media-breakpoint-down(xs) {
          margin-top: 0;
          margin-left: auto;
          width: 3rem;
        }
      }
    }
  }

  aside {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0;
    
    @include media-breakpoint-down(xs){
      display: none;
    }
  }

  footer {
    color: white;
    flex-basis: 100%;
    font-family: 'Gotham Bold';
    font-size: 6.25rem;
    font-weight: 900;
    line-height: initial;
    text-shadow: 0 0 2px rgba($color: $dark, $alpha: 0.45);
    text-transform: uppercase;
    margin: initial;
    width: 100%;
    white-space: nowrap;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include media-breakpoint-down(xs){
      font-size: 8vmin;
      white-space: initial;
      text-align: left;
    }

  }
}

h2 {
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 1.5rem;
  position: relative;
}

figure {
  position: relative;
  margin-bottom: 0;
}


// Pseudo elements
:focus {
  outline-color: transparent;
  outline-width: 5px;
  outline-style: none;
}


// Classes
.transition {
  transition: all .5s ease-in-out;
}

@import 'mixins';
@import 'animations';

@import 'components/buttons';
@import 'components/grid';
@import 'components/modal';
@import 'components/nav';

@import 'includes/preloader';

@import 'partials/one';
@import 'partials/business';
@import 'partials/concept';
@import 'partials/nextdealer';
@import 'partials/digital';
@import 'partials/vci';
@import 'partials/green';
@import 'partials/about';
@import 'partials/contact';

@import 'includes/footer';
