- var linkedin = site.social.linkedin
- var instagram = site.social.instagram
- var contact = site.contact
- var b = site.social.b

doctype html
html(lan='pt-br')
  head
    meta(charset='utf-8')
    title= site.title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content=site.description)
    meta(name='keywords', content=site.keywords)
    meta(name='author', content=site.author)

    link(rel='stylesheet', href='css/critical.css?__inline=true')
    //- link(rel='stylesheet', href='css/main.css')

    meta(name='robots', content='index.follow')

  body

    main

      h1 Em breve estaremos conectados

      picture
        source(srcset="images/logos/logo-vc_one-default.webp", type="image/webp", alt=site.title)
        img(src="images/logos/logo-vc_one-default.png", alt=site.title)

      ul
        li.mb-sm-0.order-2.order-sm-0
          a(href=linkedin.url, target="_blank")
            img(src=linkedin.iconlight, alt="VC One Linkedin")
          a(href=instagram.url, target="_blank")
            img(src=instagram.iconlight, alt="VC One Instagram")
        li.mb-sm-0.order-1
          a(href="tel:+551128931600")
            img(src=b.iconlight, alt="VC One Telefone")
            span !{contact.admin.telefone}
        li.mb-sm-0.order-0.order-sm-2
          a(href="mailto:"+contact.admin.email)
            img(src=contact.icon, alt="VC One Telefone")
            span !{contact.admin.email}
    
    
    //- Global site tag (gtag.js) - Google Analytics
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-158678904-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-158678904-1');

