include mixins.pug

doctype html
html(lan='pt-br')
	head
		meta(charset='utf-8')
		title= site.title
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content=site.description)
		meta(name='keywords', content=site.keywords)
		meta(name='author', content=site.author)

		link(rel='stylesheet', href='css/main.css')

		meta(name='robots', content='index.follow')

		link(rel="preload", href="images/logos/logo-vc_one.png", as="image")
		link(rel="preload", href="images/logos/logo-vc_business.png", as="image")
		link(rel="preload", href="images/logos/logo-vc_concept.png", as="image")
		link(rel="preload", href="images/logos/logo-vc_digital.png", as="image")
		link(rel="preload", href="images/logos/logo-vc_green.png", as="image")
		link(rel="preload", href="images/logos/logo-vc_i.png", as="image")
		link(rel="preload", href="images/logos/logo-nextdealer.png", as="image")

		link(rel="preload", href="images/background-vcone.png", as="image")
		link(rel="preload", href="images/background-vcone-portfolio.png", as="image")
		link(rel="preload", href="images/background-vcbusiness.jpg", as="image")
		link(rel="preload", href="images/background-vcbusiness-portfolio.png", as="image")
		link(rel="preload", href="images/background-vcconcept.jpg", as="image")
		link(rel="preload", href="images/background-vcconcept-portfolio.png", as="image")
		link(rel="preload", href="images/background-vcdigital.jpg", as="image")
		link(rel="preload", href="images/background-vcdigital-portfolio.png", as="image")
		link(rel="preload", href="images/background-vcgreen.jpg", as="image")
		link(rel="preload", href="images/background-vcgreen-portfolio.png", as="image")
		link(rel="preload", href="images/background-nextdealer.jpg", as="image")
		link(rel="preload", href="images/background-nextdealer-portfolio.png", as="image")
		link(rel="preload", href="images/background-vci.jpg", as="image")
		link(rel="preload", href="images/background-vci-portfolio.png", as="image")

	body
		#overflow
			div
		
		#preloader

		include includes/nav.pug

		//- #wrapper(tabindex="0")

		//- #container
		#site.vs-section
		
			include partials/one.pug
			include partials/business.pug
			include partials/concept.pug
			include partials/nextdealer.pug
			include partials/digital.pug
			include partials/vci.pug
			include partials/green.pug
			include partials/about.pug
			include partials/contact.pug
			include includes/footer.pug
				
		include includes/modal.pug

		#pointer

		script(src='js/jquery.min.js')
		script(src='js/bootstrap.bundle.min.js')
		script(src='js/jquery.maskedinput.js')
		script(src='js/imagesloaded.pkgd.min.js')
		script(src='js/easing.js')
		script(src='js/smooth-scrolling.js')
		
		script(src='js/main.min.js')

		//- Global site tag (gtag.js) - Google Analytics
		script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-158678904-1")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-158678904-1');