.company {
  overflow: hidden;

  @media (max-width: 320px) {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  ul {
    &.solutions {
      @include media-breakpoint-down(xs) {
        margin-bottom: 2rem;
        font-size: .75rem;
      }
    }
  }

  figure {
    &.background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-size: cover !important;
      background-position: center;
      opacity: 1 !important;
    }
  }

  h2 {
    @include media-breakpoint-down(xs) {
      line-height: 1.5;
      margin-bottom: 1.5rem;
      font-size: .9rem;
    }

    @media all and (max-width: 320px) {
      font-size: .875rem;
    }
  }

  // &#vc_digital {
  //   ul {
  //     &.solutions {
  //       li {
  //         max-width: 60%;
  //       }
  //     }
  //   }
  // }
}