#diferencial {
  padding-top: 10rem;

  @include media-breakpoint-down(xs) {
    padding-top: unset;
    height: auto !important;
  }
  
  h2 {
    font-family: $font-family-bold;
    font-size: 2rem;
    font-weight: 700;
    line-height: 0.85;
    letter-spacing: -.125rem;
    margin-bottom: 1.25rem;
    position: relative;

    @include media-breakpoint-up(sm) {
      font-size: 2.75rem;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 5rem;
    }

    @media (max-width: 320px) {
      font-size: 1.75rem;
      margin: 3rem 0;
    }

    span {
      color: $dourado;
    }
  }

  p {
    color: $vinho;
    font-family: $font-family-medium;
    font-size: 1.125rem;

    br {
      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
  }

  ul {
    @include media-breakpoint-down(xs) {
      margin: 3rem auto;
      padding: 0 1rem;
    }
  }

  li {
    color: $vinho;
    flex: 1 0 30%;
    font-family: $font-family-bold;
    line-height: 1;
    margin: .25rem;
    padding: 4rem 2.25rem;
    position: relative;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;

    @include media-breakpoint-down(xs) {
      max-width: 80%;
      flex-basis: 100%;
      margin: .25rem auto;
      text-align: center;
      padding: 3.125rem 2.25rem;
      font-size: .875rem;
    }

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      border: 1px solid $dourado;
      position: absolute;
      left: 0;
      top: 0;
      transform: skewX(-35deg);

      
    }

    &:after {
      content: '+';
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;
      color: $white;
      background: $dourado;
      line-height: 1;
      font-weight: bold;
      width: 2rem;
      height: 2rem;
      border-radius: 10rem;
      right: -1.25rem;
      bottom: calc(50% - 1rem);
      z-index: 10;

      @include media-breakpoint-down(xs) {
        bottom: -1.25rem;
        right: calc(50% - 1rem)
      }
    }

    &:nth-child(3n) {
      @include media-breakpoint-up(sm) {
        &:after {
          content: unset;
        }
      }
    }

    &:last-child() {
      @include media-breakpoint-down(xs) {
        &:after {
          content: unset;
        }
      }
    }
  }

  aside {
    display: flex;
  }

}