.portfolio {
  background: url(../images/background-vcone-portfolio.png) center no-repeat;
  background-size: initial !important;
  align-items: flex-end;

  overflow: hidden;

  @include media-breakpoint-down(xs) {
    // padding: 3rem 0;
    min-height: unset;
    height: 100vh;
    flex-direction: column;
  }

  .overflow {
    content: '';
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 2000;
    transition: all 1s ease;
  }

  &.active {
    .overflow {
      left: 0;
    }
  }

  .container {
    @include media-breakpoint-down(xs) {
      display: flex;
      flex: 1 0 70%;
    }
    .row {
      height: calc(100% - 25vh);
      align-content: unset;

      @include media-breakpoint-down(xs) {
        height: unset;
      }
    }
  }

  .col {  
    flex-basis: auto;
    justify-content: center;
    padding-top: 0;

    @include media-breakpoint-down(xs) {
      min-height: unset;
      justify-content: flex-end;
    }
  }

  h3 {
    color: $dourado;
    font-family: $font-family-medium;
    font-size: 1.5rem;
    margin-bottom: inherit;
    text-transform: none;
    margin-right: auto;

    span {
      color: $vinho;
      display: block;
      position: relative;
    }

    @include media-breakpoint-down(xs){
      // margin-bottom: 3rem;
      letter-spacing: -1.2px;
      font-size: 1.325rem;

      // span {
      //   display: inline;
      // }
    }
  }
  
  p {
    color: inherit;
    font-size: .9rem;

    @include media-breakpoint-up(sm) {
      font-size: inherit;
    }
    
    br {  
      display: none;

      @include media-breakpoint-up(sm) {
        display: initial;
      }
    }
  }

  .parent {
    margin-top: 3rem;
    margin-right: auto;
    position: relative;

    @include media-breakpoint-down(xs) {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 4.5rem;
    }
  }

  button {
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    @include media-breakpoint-down(xs) {
      flex-basis: 25%;
    }

    .brand {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba($color: $white, $alpha: 0.75);
      border-radius: 100%;
      width: 3.5rem;
      height: 3.5rem;
      margin-bottom: 0;
      padding: .5rem;
    }

    .thumb {
      transition: all .3s ease-in-out;
      filter: grayscale(1);

      @include media-breakpoint-down(xs){
        max-width: 100%;
      }
    }

    &:hover {
      .thumb {
        filter: grayscale(0);
      }
    }
  }

  figure {
    &.background {
      text-align: center;

      @include media-breakpoint-down(xs){
        display: none;
      }
    }
  }

  footer {
    @include media-breakpoint-down(xs) {
      flex: 1 0 auto;
    }
  }

  &#vc_green-portfolio {
    button {
      & + button {
        .brand {
          display: none;
        }
      }
    }
  }

  &#nextdealer-portfolio {
    h3 {
      @include media-breakpoint-down(xs){
        letter-spacing: .25px;
        font-size: 1.325rem;
      }
    }
  }

  &#vc_business-portfolio {
    figure {
      &.background {
        text-align: right;
      }
    }
  }

  &#vc_green-portfolio,
  &#vc_i-portfolio {
    button {
      @include media-breakpoint-down(xs) {
        flex-basis: 45%;
      }
    }
  }

}