#historia {
  // align-items: flex-start;
  padding-top: 10rem;

  @include media-breakpoint-down(xs) {
    padding-top: 0;
    display: block;
    height: auto !important;
  }

  h2 {
    font-family: $font-family-bold;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 0.85;
    letter-spacing: -.125rem;
    margin-bottom: 0;
    position: absolute;
    transform: rotate(-90deg);
    width: max-content;
    text-indent: -7.5rem;

    @include media-breakpoint-up(sm) {
      font-size: 1.75rem;
    }

    @include media-breakpoint-down(xs) {
      transform: none;
      position: relative;
      text-indent: unset;
      font-size: 2rem;
      margin: 2rem 0 5rem;
    }

    @media (max-width: 320px) {
      font-size: 1rem;
      margin: 0;
    }

    span {
      color: $dourado;
    }
  }

  h5 {
    color: $dourado;
    font-family: $font-family-couture;
    font-size: .825rem;
    font-weight: 900;
    text-align: center;
    flex-basis: 33.333333%;

    span {
      color: $vinho;
    }
  }

  .card-columns {
    column-count: 4;

    @include media-breakpoint-down(xs){
      column-count: 1;
    }

    .card {
      border: none;
      border-radius: 0;

      h3 {
        font-family: $font-family-couture;
        font-size: 1rem;
      }
    
      p {
        color: $vinho;
        font-size: .825rem;
      }
    }
  }
    
  .tag {
    color: $dourado;
    font-family: $font-family-couture;
    margin-bottom: 1rem;
  }

  .divider {
    border-left: 3px solid $vinho;
    margin-right: -2rem;

    @include media-breakpoint-down(xs) {
      margin: initial;
      padding-bottom: 5rem;
      border-left: none;
      border-top: 3px solid $vinho;
    }

    + div {
      flex-basis: calc(25% + 2rem);
      max-width: unset;

      @include media-breakpoint-down(xs){
        flex-basis: auto;
      }
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      height: 3px;
      width: 2rem;
      background: $vinho;
      top: calc(50% - 1.5px);

      @include media-breakpoint-down(xs) {
        top: .875rem;
        transform: rotate(90deg);
        left: 1rem;
      }
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 1.125rem;
      height: 1rem;
      width: 1rem;
      border-top: 3px solid $vinho;
      border-right: 3px solid $vinho;
      top: 50%;
      transform: rotate(45deg) translateX(-50%) translateY(-25%);

      @include media-breakpoint-down(xs) {
        top: 1.025rem;
        left: 2.125rem;
        transform: rotate(135deg) translateX(45%) translateY(45%);
      }
    }
  }
}