footer {
  &#rodape {
    background: $vinho;
    color: $white;
    padding: 2rem 0;

    figure {
      display: flex;
      align-items: center;
      position: relative;
      margin-bottom: 2rem;

      > img {
        margin-right: 3rem;
      }

      figcaption {
        a {
          margin: 0 .25rem;
        }
      }
    }

    .nav-footer {
      border-right: 2px dotted rgba($white, 0.5);
      height: 100%;

      @include media-breakpoint-down(xs) {
        height: auto;
        border-right: none;
        border-bottom: 2px dotted rgba($white, 0.5);
        padding: 0 1rem 1rem;
        margin-bottom: 2rem;
      }

      li {
        margin: .5rem 0;

        a {
          color: $dourado;
          font-family: $font-family-medium;
        }  
      }
    }

    address { 
      @include media-breakpoint-down(xs) {
        margin-bottom: 2rem;
      }

      h4 {
        font-family: $font-family-bold;

        & + p {
          color: $dourado;
          margin: 0;
        }
      }
      
      a {
        color: $dourado;
        font-family: $font-family-medium;
        font-size: .875rem;
      }

      p {
        font-size: .875rem;
        margin: .5rem 0;
      }
    }

    .copyright {
      border-top: 2px dotted rgba($white, 0.5);
      margin-top: 2rem;
      padding: 1rem 0 0;

      @include media-breakpoint-down(xs) {
        padding: 1rem 1rem 0;
      }
    }
  }
}