#preloader {
  background: transparent;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 10000;
  
  &:before, &:after {
    content: '';
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: $dourado;
    opacity: 0.6;
    position: absolute;
    top: calc(50% - 1.5rem);
    left: calc(50% - 1.5rem);
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }

  &:after {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }

  @keyframes sk-bounce {
    0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
  }
}

#overflow {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: $vinho;
  z-index: 2000;
  transform: translate3d(0,0,0);
  transition: all 600ms ease;
}