- var menu = site.menu
- var address = site.endereco
- var linkedin = site.social.linkedin
- var instagram = site.social.instagram
- var contact = site.contact
- var b = site.social.b

footer(id="rodape")
  .container
    .row
      .col
        figure
          img.img-fluid.animation-element.slide-left(src=site.logo.rodape, alt="VC One")
          figcaption
            a(href=linkedin.url, target="_blank")
              img.img-fluid.animation-element.slide-top(src=linkedin.iconlight, alt=site.title+' linkedin')
            a(href=instagram.url, target="_blank")
              img.img-fluid.animation-element.slide-bottom(src=instagram.iconlight, alt=site.title+' instagram')
    .row
      .col-md-2
        ul.list-unstyled.nav-footer.animation-element.slide-right
          li
            a.smoothscroll(href="#vc_one") home
          li
            a.smoothscroll(href="#vc_business") soluções
          li
            a.smoothscroll(href="#sobre") sobre nós
          li
            a.smoothscroll(href="#contato") fale conosco
      
      .col-md-10
        .d-flex.flex-wrap
          each local in address
            .col-md-4
              address.animation-element.slide-top
                h4 !{local.cidade}

                if local.telefone
                  a.d-flex.align-items-center(href=local.whatsapp, target="_blank")
                    img.img-fluid.mr-2(src=b.iconlight) 
                    | !{local.telefone}

                if local.email
                  a.d-flex.align-items-center(href="mailto:"+local.email)
                    img.img-fluid.mr-2(src=contact.icon) 
                    | !{local.email}

                if local.complemento
                  p !{local.logradouro}, !{local.numero} • !{local.complemento} • !{local.bairro}
                
                else
                  p !{local.logradouro}, !{local.numero} • !{local.bairro}

    .row.copyright Todos os direitos reservados 
      span.text-uppercase.ml-1.animation-element.slide-right !{site.title}
