doctype html
html(lan='pt-br')
  head
    meta(charset='utf-8')
    title= site.title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content=site.description)
    meta(name='keywords', content=site.keywords)
    meta(name='author', content=site.author)

    link(rel='stylesheet', href='css/main.css')

    meta(name='robots', content='index.follow')

    link(rel="preload", href="images/logos/logo-vc_one.png", as="image")
    link(rel="preload", href="images/logos/logo-vc_business.png", as="image")
    link(rel="preload", href="images/logos/logo-vc_concept.png", as="image")
    link(rel="preload", href="images/logos/logo-vc_digital.png", as="image")
    link(rel="preload", href="images/logos/logo-vc_green.png", as="image")
    link(rel="preload", href="images/logos/logo-vc_i.png", as="image")
    link(rel="preload", href="images/logos/logo-nextdealer.png", as="image")

    link(rel="preload", href="images/background-vcone.png", as="image")
    link(rel="preload", href="images/background-vcone-portfolio.png", as="image")
    link(rel="preload", href="images/background-vcbusiness.jpg", as="image")
    link(rel="preload", href="images/background-vcbusiness-portfolio.png", as="image")
    link(rel="preload", href="images/background-vcconcept.jpg", as="image")
    link(rel="preload", href="images/background-vcconcept-portfolio.png", as="image")
    link(rel="preload", href="images/background-vcdigital.jpg", as="image")
    link(rel="preload", href="images/background-vcdigital-portfolio.png", as="image")
    link(rel="preload", href="images/background-vcgreen.jpg", as="image")
    link(rel="preload", href="images/background-vcgreen-portfolio.png", as="image")
    link(rel="preload", href="images/background-nextdealer.jpg", as="image")
    link(rel="preload", href="images/background-nextdealer-portfolio.png", as="image")
    link(rel="preload", href="images/background-vci.jpg", as="image")
    link(rel="preload", href="images/background-vci-portfolio.png", as="image")