.modal.fade(id="modalCase", tabindex="-1", role="dialog", aria-labelledby="modalCases", aria-hidden="true")
  .modal-dialog.modal-dialog-centered.modal-xl(role="document")
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;

      .modal-body
        .container-fluid
          .row
          
            .col-md-3.modal-info
              img.modal-logo.img-fluid(src="", alt="")
              h4.modal-title
              p.modal-text

            .col-12.col-md-9
              .carousel.slide.carousel-fade(id="carouselCase", data-ride="carousel", data-interval="0")
                .carousel-inner
                ol.carousel-indicators
                a.carousel-control-prev.transition(href="#carouselCase", role="button", data-slide="prev")
                  span.carousel-control-prev-icon(aria-hidden="true")
                    strong &lsaquo;
                a.carousel-control-next.transition(href="#carouselCase", role="button", data-slide="next")
                  span.carousel-control-next-icon(aria-hidden="true")
                    strong &rsaquo;
      
      .modal-footer