nav.navbar.navbar-expand-lg.fixed-top.bg-white.py-0(id="navbar-top")

  .container.px-0.justify-content-between

    //- Brand
    a.navbar-brand.smoothscroll(id="brand", href="#vc_one")
      img(src="", alt=site.title)

    //- Button
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbartoggler", aria-controls="navbartoggler", aria-expanded="false", aria-label="Alternar navegação")
      span &equiv;

    //- Menu
    div.collapse.navbar-collapse(id="navbartoggler")
      ul.navbar-nav
        each value, index in site.menu
          if value.dropdown
            li.nav-item.dropdown
              a.nav-link.smoothscroll.dropdown-toggle(href="#", id="navbar"+value.slug+"Link", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")= value.name 
              ul.dropdown-menu(aria-labelledby="navbar"+value.slug+"Link")
                each val, key in value.dropdown
                  li.dropdown-item
                    if val.slug == "nextdealer"
                      a.smoothscroll(href="#"+val.slug)
                        span next 
                        | dealer
                    else
                      a.smoothscroll(href="#"+val.slug)
                        span vc 
                        | !{key}
                    a.dropdown-item-portfolio.smoothscroll(href="#"+val.slug+"-portfolio")= key+"-portfolio"
          else
            li.nav-item
              a.nav-link.smoothscroll(href=value.url) !{value.name}

              if value.name == "sobre nós"
                each item, feature in value.section.content
                  a.dropdown-item-portfolio.smoothscroll(href="#"+feature)= feature

              if value.name == "vamos falar"
                a.dropdown-item-portfolio.smoothscroll(href="#rodape") Rodapé
    
    div.collapse.navbar-collapse(id="navbarright")
      ul.navbar-nav(id="languages")
        li.nav-item
          a.nav-link(href="#") english
        li.nav-item= ' | '
        li.nav-item
          a.nav-link(href="#") español
      ul.navbar-nav(id="social")
        each value, key in site.social
          li.nav-item
            a.nav-link(href=value.url)
              img.img-fluid(src=value.icon, alt=key)

