//- Mixin template for company

mixin company(solucao)
  section.company.animation-element(id=solucao.slug)
    figure.background.animation-element.slide-bottom
    
    main.container
      div.row
        article.col-md-6.pl-sm-0
          main.d-flex.flex-wrap.w-100

            div.col-sm-8.p-0

              each title in solucao.title
                h2.title.animation-element.slide-top !{title}

              if solucao.solutions
                ul.solutions
                  each item in solucao.solutions
                    li.animation-element.slide-right !{item} 
            
            div.col-sm-4.d-flex.align-items-end
              img.img-fluid.seta.animation-element.slide-top(src="images/icons/seta-branca.png", alt="VC One - Seta")
