//- Mixin template for features

mixin features(section)

  section.animation-element(id=section.id)
    main.container
      div.row
        article.col-md-4.pl-sm-0

          h2.animation-element.slide-right !{section.title}
          p.animation-element.slide-right !{section.description}

        aside.col-md-8.pr-sm-0
          ul.list-unstyled.d-flex.flex-wrap
            each feature in section.features
              li.animation-element.slide-left !{feature}
