//- Mixin template for portfolio

mixin portfolio(solucao, portfolio, cases)
  section.portfolio.animation-element(id=solucao.slug + "-portfolio")
  
    main.container
      div.row
        article.col.col-md-6.pl-sm-0.d-flex.flex-column
          h3.title.animation-element.slide-left !{portfolio.title}

          
          div.parent
            each project in cases
              button.btn.btn-link.animation-element.slide-bottom(
                data-toggle="modal", 
                data-target="#modalCase", 
                data-id=project.id, 
                data-logo=project.logo, 
                data-title=project.title, 
                data-content=project.content, 
                data-testimonial=project.testimonial, 
                data-gallery=project.gallery 
              )

                img.thumb(src=project.thumbnail, alt=solucao.name+' '+project.client)
                
                if solucao.slug != 'vc_i'
                  figure.brand
                    img.img-fluid(src=project.logo, alt=solucao.name+' logo '+project.client)
          
    
        aside.col.col-md-6.pr-sm-0
          figure.background.animation-element.slide-right
            img.img-fluid(src=portfolio.background, alt=solucao.name+' '+portfolio.footer)

        //-  logotipos dos clientes
        figure.clients.col-12.px-0.pt-5.d-none.d-sm-block.animation-element.slide-left
          img.img-fluid(src=portfolio.clients, alt=solucao.name)
  
    footer.animation-element.slide-right !{portfolio.footer}