//- Mixin template for timeline

mixin timeline(section)

  - var empresas = site.menu.solucoes.dropdown

  section.animation-element(id=section.id)
    main.container
      div.row
        div.col-md-1.p-sm-0.animation-element.slide-bottom
          h2 !{section.title}

        div.col-md-7
          div.card-columns
            each data, index in section.timeline

              if data.empresas
                div.card.animation-element.slide-bottom
                  each val, key in data.empresas
                    h3 !{val.title}
                    p !{val.description}
                  div.tag !{index}
              else
                div.card.animation-element.slide-bottom
                  h3 !{data.title}
                  p !{data.description}
                  div.tag !{index}
        
        div.col-md-1.divider.px-sm-0.animation-element.slide-left
          
        div.col-md-3.px-sm-0
          div.tag.animation-element.slide-left !{section.description}
          p.animation-element.slide-right !{section.content}
          img.img-fluid.my-4.animation-element(src="images/logos/logo-vc_one.png", alt="VC One")

          div.d-flex.flex-wrap
            each item, key in empresas
              if key == 'nextdealer'
                h5.col-md-4.px-0.my-2.animation-element Next 
                  span.animation-element Dealer
              else
                h5.col-md-4.px-0.my-2.animation-element VC 
                  span.animation-element !{key}