.modal-backdrop {
  background: $white;

  &.show {
    opacity: .9;
  }
}

.modal-dialog {
  @include media-breakpoint-down(xs) {
    @media (orientation:portrait) {
      margin: 0;
    }
  }

  @include media-breakpoint-down(sm) {
    @media (orientation:landscape) {
      max-width: 95vw;
    }
  }
}

.modal-content, 
.modal-header,
.modal-footer {
  border: none;
  border-radius: 0;
}

.modal-body {
  @include media-breakpoint-down(xs) {
    @media (orientation:portrait) {
      padding: 0 0 5rem;

      .container-fluid {
        padding: 0;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    @media (orientation:landscape) {
      padding: 0;

      .container-fluid {
        padding: 0;
      }
    }
  }
}

.modal-header {
  position: relative;

  @include media-breakpoint-down(sm) {
    @media (orientation: landscape) {
      padding: 0 2rem 1rem;
    }
  }

  .close {
    z-index: 10;
  }
  
  &:before,
  &:after {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0;
    border-top: 1px solid $black;

    @include media-breakpoint-down(xs){
      display: none;
    }

    @include media-breakpoint-down(sm) {
      @media (orientation:landscape){
        display: none;
      }
    }
  }

  &:before {
    left: 0;
    border-left: 1px solid $black;
  }

  &:after {
    right: 0;
    border-right: 1px solid $black;
  }
}

.modal-footer {
  position: relative;

  &:before,
  &:after {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid $black;

    @include media-breakpoint-down(xs){
      display: none;
    }

    @include media-breakpoint-down(sm) {
      @media (orientation:landscape){
        display: none;
      }
    }
  }

  &:before {
    left: 0;
    border-left: 1px solid $black;
  }

  &:after {
    right: 0;
    border-right: 1px solid $black;
  }

  @include media-breakpoint-down(sm) {
    @media (orientation:landscape){
      display: none;
    }
  }
}

.modal-info {
  @include media-breakpoint-down(xs) {
    @media (orientation:portrait) {
      text-align: center;
      padding: 0 0 2rem;
    }
  }

  @include media-breakpoint-down(sm) {
    @media (orientation:landscape) {
      display: none !important;
    }
  }
}

.modal-logo {
  margin-bottom: 1rem;
}

.modal-title {
  color: $dourado;
  font-size: 1rem;

  @include media-breakpoint-down(xs) {
    @media (orientation:portrait) {
      display: none;
    }
  }
}

.modal-text {
  font-size: .875rem;

  @include media-breakpoint-down(xs) {
    @media (orientation:portrait) {
      display: none;
    }
  }
}

.modal-content {

  @include media-breakpoint-down(xs) {
    height: 100vh;
  }

  .modal-body {
    @include media-breakpoint-down(xs) {
      display: flex;
      align-items: center;
    }
  }

  .carousel-item {
    padding: 0 3rem;
    position: relative;

    @include media-breakpoint-down(xs){
      padding: 0 0.5rem;

      @media (orientation: portrait) {
        padding: 0;
      }
    }

    @include media-breakpoint-down(sm) {
      @media (orientation: landscape) {
        padding: 0 1.875rem;
      }
    }

    figcaption {
      position: absolute;
      left: 3rem;
      bottom: 0;
      background: $dourado;
      color: $white;
      text-transform: lowercase;
      font-size: .75rem;
      font-family: $font-family-medium;
      padding: .25rem 1rem .25rem .5rem;
      border-top-right-radius: .5rem;

      @include media-breakpoint-down(xs){
        left: 0.5rem;

        @media (orientation: portrait) {
          position: relative;
          left: 0;
          border-bottom-right-radius: .5rem;
          border-top-right-radius: 0;
          width: fit-content;
        }
      }

      @include media-breakpoint-down(sm) {
        @media (orientation: landscape) {
          left: 1.875rem;
        }
      }
    }
  }

  .carousel-control-prev, 
  .carousel-control-next {
    @include media-breakpoint-down(xs) {
      @media (orientation: portrait) {
        top: calc(100% + 3rem);
        bottom: unset;
      }
    }
  }

  .carousel-control-prev {
    @include media-breakpoint-down(xs) {
      @media (orientation: portrait) {
        left: 50%;
        transform: translateX(-150%);
      }
    }
  }

  .carousel-control-next {
    @include media-breakpoint-down(xs) {
      @media (orientation: portrait) {
        right: 50%;
        transform: translateX(150%);
      }
    }
  }

  .carousel-control-prev-icon, 
  .carousel-control-next-icon {
    background: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    strong {
      font-size: 3rem;
      color: $white;
      position: relative;
      line-height: 1;

      @include media-breakpoint-down(xs) {
        font-size: 1.25rem;
      }

      @include media-breakpoint-down(sm) {
        @media (orientation:landscape) {
          font-size: 1.25rem;
        }
      }
    }
  }

  .carousel-control-prev-icon {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top:0;
      left:0;
      width: 10rem;
      height: 10rem;
      border-radius: 10rem;
      background: rgba($color: $dourado, $alpha: 0.85);
      transform: translate(calc(-50% + 10px), calc(-50% + 10px));

      @include media-breakpoint-down(xs){
        height: 5rem;
        width: 5rem;
      }

      @include media-breakpoint-down(sm) {
        @media (orientation:landscape){
          height: 3.5rem !important;
          width: 3.5rem !important;
        }
      }
    }
  }

  .carousel-control-next-icon {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top:0;
      left:0;
      width: 7rem;
      height: 7rem;
      border-radius: 7rem;
      background: rgba($color: $amarelo, $alpha: 0.85);
      transform: translate(calc(-50% + 10px), calc(-50% + 10px));

      @include media-breakpoint-down(xs){
        height: 3.5rem;
        width: 3.5rem;

        @media (orientation: portrait) {
          height: 5rem;
          width: 5rem;
          background: rgba($color: $dourado, $alpha: 0.85);
        }
      }

      @include media-breakpoint-down(sm) {
        @media (orientation:landscape){
          height: 3.5rem !important;
          width: 3.5rem !important;
        }
      }
    }
  }

  .carousel-indicators {
    position: relative;
    margin: 1rem 0 0 calc(3rem - 3px);
    justify-content: flex-start;

    li {
      background: transparent;
      width: auto;
      height: 4rem;
      padding: 0;
      flex: 0 0 auto;
    }

    @include media-breakpoint-down(xs) {
      display: none;
    }

    @media (orientation:landscape) {
      display: none;
    }
  }

  .testimonial-content {
    flex-basis: 60%;
    text-align: center;
    padding: 0 3rem;

    @include media-breakpoint-down(sm) {
      @media (orientation:landscape) {
        flex-basis: 100%;
        padding: 0 2rem;
      }
    }

    @include media-breakpoint-down(xs) {
      flex-basis: 100%;
      padding: 0 2rem;
    }

    .message {
      margin: 2rem auto;

      @include media-breakpoint-down(xs) {
        font-size: .875rem;
      }
    }

    .author {
      font-size: .75rem;

      @include media-breakpoint-down(sm) {
        @media (orientation:landscape) {
          display: none;
        }
      }

      span {
        color: $dourado
      }
    }
  }

  .testimonial-image {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down(xs) {
      margin: auto;
      transform: scale(.75);
    }

    @include media-breakpoint-down(sm) {
      @media (orientation:landscape) {
        display: none;
      }
    }
  }
}