nav {
  // Navegação principal
  &#navbar-top {
    opacity: 0;
    top: -5rem;
    
    @include media-breakpoint-up(lg){
      padding: 1.5rem 0 !important;
    }


    h1 {
      position: relative;
      a {
        position: relative;
        z-index: 1;
      }
      .alt-logo {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 0;
          text-indent: -100vw;
      }
    }

    #brand {
      max-width: 50%;

      @include media-breakpoint-up(sm) {
        max-width: initial;
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .navbar-toggler {
      font-size: 2.25rem;

      span {
        align-items: center;
        display: flex;
        height: 2rem;
        justify-content: center;
        line-height: 0;
        width: 2rem;
      }
    }

    .navbar-collapse {
      flex-grow: 0;

      @include media-breakpoint-down(xs) {
        height: calc(100vh - 4.5rem);
        transition: all .5s ease-in;
        position: fixed;
        top: 4.5rem;
        left: 0;
        width: 100%;
        background-color: $white;
        transform: translate3d(100%, 0, 0);
        border-bottom-left-radius: 30rem;

        &.collapsing {
          height: inherit;
          position: inherit;
          transition: inherit;
          border-bottom-left-radius: 20rem;
        }

        &.show{
          transform: translate3d(0, 0, 0);
          border-bottom-left-radius: 0;
        }      
      }

      &#navbartoggler {
        .nav-item {
          &:last-child {
            .nav-link {
              background: $vinho;
              color: $white;
            }            
          }
        }
      }

      .navbar-nav {
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 1.5rem 0;
        margin-top: .5rem;
        border-top: 1px dotted rgba($color: $cinza, $alpha: 0.325);
        border-bottom: 1px dotted rgba($color: $cinza, $alpha: 0.325);

        .dropdown-menu {
          border: none;
          background: $white;
          padding: 2rem 0;
          position: absolute;

          .dropdown-item {
            transition: all 250ms ease-in-out;

            &:hover {
              background-color: transparent;
            }
          }

          a {
            color: $dourado;
            font-family: $font-family-couture;
            font-size: .875rem;
            letter-spacing: -0.5px;
            text-transform: uppercase;

            span {
              color: $vinho;
            }

            &:hover {
              text-decoration: none;
            }
          }

          &.show {
            &:before {
              content: '';
              background: rgba($color: $white, $alpha: 0.95);
              display: block;
              position: fixed;
              left: 0;
              width: 100%;
              height: 100vh;
              z-index: -1;
            }

            &:after {
              content: '';
              height: 2rem;
              width: 2rem;
              border-top: 2px solid $vinho;
              border-left: 2px solid $vinho;
              position: absolute;
              top: 1rem;
              left: 0.25rem;
            }
          }
        }

        &#languages {
          color: $dourado;
          margin: auto 1rem;

          .nav-link {
            color: inherit;
            padding: 0.375rem;

            &:hover {
              background: transparent;
              color: $vinho;
            }
          }
        }

        &#social {
          .nav-link {
            padding: 0;
            width: 1.5rem;
            border-radius: 0;
            font-size: unset;


            &:hover {
              background: transparent !important;
              color: inherit !important;
            }
            
          }          
        }
      }

      @include media-breakpoint-up(sm) {
        .navbar-nav {
          flex-flow: unset;
          justify-content: inherit;
          padding: inherit;
          margin-top: inherit;
          border: initial;
        }
      }

      .nav-item {
        @include media-breakpoint-up(sm){
          margin: 0 .25rem;
        }

        &:first-child { 
          margin-left: 0;
        }

        &:last-child { 
          margin-right: 0;
        }

        .nav-link {
          background: transparent;
          border-radius: .75rem;
          color: $vinho;
          font-size: .875rem;
          letter-spacing: -0.5px;
          line-height: 1;
          padding: 0.375rem 0.6875rem;
          position: relative;
        
          &:hover {
            background: $dourado !important;
            color: $white;
          }

          @include media-breakpoint-up(sm) {
            padding: .5rem 1.5rem;
          }
          
        }      
      }

      .dropdown-item-portfolio {
        visibility: hidden;
        display: block;
        width: 0;
        height: 0;
        line-height: 0;
        font-size: 0;
        text-indent: -9999px;
      }
    }
  }
}