#sobre {
  h2 {
    font-family: $font-family-bold;
    font-size: 14vmin;
    font-weight: 700;
    line-height: 0.85;
    letter-spacing: -0.125rem;
    margin-bottom: 1.25rem;
    position: relative;

    @include media-breakpoint-up(sm) {
      font-size: 4.75rem;
    }

    @include media-breakpoint-down(xs) {
      font-size: 13vmin;
      margin: 3rem 0;

      br {
        display: none;
      }
    }

    span {
      color: $dourado;
    }
  }

  p {
    color: $vinho;
    font-family: $font-family-medium;
    font-size: 1.125rem;

    @include media-breakpoint-up(sm) {
      max-width: 26rem;
    }
  }

  img {
    &.seta {
      bottom: -1rem;
      position: absolute;

      @include media-breakpoint-up(sm) {
        left: 30rem;
      }

      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
  }

  footer {
    @include media-breakpoint-down(xs){
      margin-top: 3rem;
    }
  }
}