#vc_business {

  figure {
    &.background {
      background: url(../images/background-vcbusiness.jpg) center no-repeat;
     
      @include media-breakpoint-down(xs){
        background-position-x: left;
      }
    }
  }

  h2 {
    color: $white;
  }

  p {
    color: $white;
  }
}