#vc_concept {
  figure {
    &.background {
      background: url(../images/background-vcconcept.jpg) left center no-repeat;
     
      @include media-breakpoint-up(sm){
        background-position-x: center;
      }
    }
  }

  h2 {
    color: $white;
  }

  p {
    color: $white;
  }
}