#contato {
  padding-top: 9rem;
  padding-bottom: 3rem;

  article {
    min-height: unset;
    margin-bottom: 3rem;
  }

  h2 {
    color: $dourado;
    font-family: $font-family-medium;
    font-size: 1.825rem;
    letter-spacing: -1px;
    margin: 1rem auto;
    text-align: center;
  }

  label {
    color: $vinho;
    font-family: $font-family-medium;
    font-size: .875rem;
    margin-left: 1rem;

    sup {
      font-size: 100%;
      top: unset;
    }
  }

  .form-control {
    color: $vinho;
    border-radius: 1.25rem;
    border: 2px solid $vinho;
    font-family: $font-family-medium;
    font-size: .875rem;
    margin-bottom: 1rem;
    height: auto;
    padding: .5rem 1rem;

    &:focus, 
    &:hover {
      border-color: inherit;
      box-shadow: none;
    }
  }

  select {
    appearance: none;
    background: url(../images/icons/arrow-down.png) calc(100% - 16px) center no-repeat;
    background-size: 12px;

    &:disabled {
      // background-color: #e9ecef !important;
      // border-color: rgba(0,0,0,0.1) !important;
      // color: rgba(0,0,0,0.5) !important;
    }
  }
  // label {
  //   &[for=solucao]{
  //     color: rgba(0,0,0,0.5);
  //   }
  // }

  .btn {
    border-radius: 1.25rem;
    color: $white;
    font-family: $font-family-medium;
    padding: .375rem 2.5rem;
  }

  aside {
    display: block;
  }
}