#vc_digital {
  figure {
    &.background {
      background: url(../images/background-vcdigital.jpg) left center no-repeat;
      background-position-x: 25%;

      @include media-breakpoint-up(sm) {
        background-position: center center;
      }
    }
  }

  h2 {
    color: $white;
  }

  p {
    color: $white;
    
    br {  
      display: none;

      @include media-breakpoint-up(sm) {
        display: initial;
      }
    }
  }
}