#vc_one {
  align-items: flex-end;
  position: relative;
  height: 100vh;
  padding-top: 10rem;

  @include media-breakpoint-down(xs) {
    padding-top: 0;
    flex-flow: column nowrap;
  }

  main {
    @include media-breakpoint-down(xs) {
      flex: 1 0 80%;
      display: flex;
      align-items: flex-end;
      padding-bottom: 2rem;
    }
  }

  article {
    @include media-breakpoint-down(xs) {
      min-height: unset;
      // padding-top: 4.5rem;
    }
  }

  h2 {
    color: $dourado;
    font-family: $font-family-bold;
    font-size: 15vmin;
    font-weight: 700;
    line-height: 0.85;
    letter-spacing: -1px;
    margin-bottom: 0;
    width: min-content;

    @include media-breakpoint-up(sm) {
      font-size: 5rem;
    }

    @media (max-width: 320px) {
      font-size: 12vmin;
      letter-spacing: -0.5px;
      margin: 4.5rem 0 0;
    }

    span {
      color: $vinho;
    }
  }

  img {
    margin-top: 3rem;
    padding: 1.5rem 1rem 4.5rem;
    
    &.seta {
      padding: unset;
    }
  }
  
  .background {
    &.scale {
      transform: scale(1.25);
    }
  }

  footer {
    padding-bottom: 2rem;

    @include media-breakpoint-down(xs) {
      flex: 1 0 auto;
    }

    @media (max-width: 320px) {
      padding-bottom: 1rem;
    }
  }
}