- var section = site.menu.sobre.section
- var features = section.content.diferencial
- var timeline = section.content.historia
- var team = section.content.gente

section.animation-element(id=section.id)
  main.container
    div.row
      article.col-md-8.pl-sm-0

        h2.animation-element.slide-left !{section.title}
        p.animation-element.slide-bottom !{section.subtitle}
        
        img.img-fluid.seta.animation-element.slide-top(src="images/icons/seta-vinho.png", alt="VC One - Seta")
    
      aside.col.md-4.pr-sm-0

        figure.d-flex.align-items-center.justify-content-center.animation-element.slide-right
          img.img-fluid(src=section.background, alt=site.title+' '+section.footer)  
      
  footer.animation-element.slide-right !{section.footer}


+features(features)
+timeline(timeline)
//- +team(team)