- var section = site.menu.contato.section

section.animation-element(id=section.id)
  main.container
    div.row
      article.col-md-4.pl-sm-0
        figure.animation-element.slide-bottom
          img.img-fluid(src=section.background, alt=section.title)
        h2.animation-element.slide-top !{section.title}

      aside.col-md-8.pr-sm-0
        form(id="contact-form")
          .form-row
            .form-group.col-sm-6.px-4
              label.animation-element.slide-right(for="nome") 
                sup *
                | Nome
              input.form-control.animation-element.slide-left(type="text", name="nome", id="nome", required)

              label.animation-element.slide-right(for="telefone") 
                sup *
                | Tel
              input.form-control.animation-element.slide-left(type="tel", name="telefone", id="telefone", required)

              label.animation-element.slide-right(for="email") 
                sup *
                | E-mail
              input.form-control.animation-element.slide-left(type="email", name="email", id="email", required)

              label.animation-element.slide-right(for="empresa") 
                | Empresa
              input.form-control.animation-element.slide-left(type="text", name="empresa", id="empresa")

            .form-group.col-sm-6.px-4
              label.animation-element.slide-left(for="vc") Qual empresa você quer falar?
              select.form-control.animation-element.slide-right(name="vc", id="vc")
                option(value="VC One")
                option(value="VC Business") VC Business
                option(value="VC Concept") VC Concept
                option(value="Next Dealer") Next Dealer
                option(value="VC Digital") VC Digital
                option(value="VCI") VCI
                option(value="VC Green") VC Green
              
              label.animation-element.slide-left(for="solucao") Qual solução você precisa?
              select.form-control.animation-element.slide-right(name="solucao", id="solucao", disabled)
                //- option(value="") Precisa escolher a empresa
              
              label.animation-element.slide-left(for="mensagem") Mensagem
              textarea.form-control.animation-element.slide-right(name="mensagem", id="mensagem", rows="5")

              button.btn.btn-warning.animation-element.slide-left(type="submit") Enviar
              small#feedback