section#vc_one(class="home animation-element")

  main.container.animation-element
    //- div.overflow
    div.row
      article.col-md-6
        main.d-flex.flex-wrap.w-100

          div.col-sm-9.p-0
            h2.title.animation-element.slide-left !{site.home.title}

          div.col-sm-3.d-flex.align-items-end
            img.img-fluid.seta.animation-element.slide-top(src="images/icons/seta-vinho.png", alt="VC One - Seta")
        
      aside.col-md-6.pr-sm-0
        figure.background.animation-element
          img.img-fluid(src=site.home.background, alt=site.home.title)
        
  footer.animation-element.slide-right !{site.home.footer}